body, html {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Quicksand';
    background-image: linear-gradient(black, grey); 
}

/* Styles to create the iconic top banner */

.banner {
    position: relative;
    height: 80px;
    background-image: url(../static/black_marble.jpg);
    background-size: 30% auto;
    background-repeat: repeat;
}

.gold_bar {
    height: 10px;
    background-image: url(../static/brushed_gold.jpg);
    background-size: 100% auto;
    background-repeat: repeat;
}

.banner_content {
    padding: 16px;
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
}

.banner_left {
    font-family: 'Quicksand', sans-serif;
    color: #dda74f;
}

.banner_right {
    position: absolute;
    right: 0;
    margin: 32px;
}

/* Button styling: overriding bootstrap button styles */

.btn.gold_button {
    background-color: #a76b09;
    border-color: #ffae00;
    color: black;
    margin: 8px;
}

.btn.black_button {
    background-color: rgb(31, 31, 31);
    border: none;
    color: #dda74f;
    margin: 8px;
}

.btn.gold_button:focus, .btn.black_button:focus, .btn.gold_button:active, .btn.black_button:active {
    box-shadow: 0 0 0 0.1rem ivory;
    color: ivory;
}

.btn.gold_button:hover, .btn.black_button:hover {
    color: ivory;
}

/* CSS for styling forms */

form .form_submit {
    font-size: 18px;
    border-radius: 10px;
    width:40%; 
}

form .input_field {
    background-color: rgb(50, 50, 50);
    color: ivory;
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

form .input_field:hover {
    box-shadow: 0 0 0 0.05rem ivory;
}

form .form_label {
    color: black;
    font-size: 18px;
}

.form_heading {
    color: black;
    font-size: 40px;
    display: inline-block;
    margin: 8px;
}

/* Black divider */

.divider {
    width: 400px;
    border-bottom: 1px solid black;
    margin:20px auto;
}

/* Controlling font-sizes depending on the page width */

@media (min-width: 1800px) {
    .banner .heading {
        font-size: xx-large;
    }
    .banner .subheading{
        font-size: medium;
    }
}

@media (max-width: 1800px) {
    .banner .heading {
        font-size: x-large;
    }

    .banner .subheading, .jumbotron_text {
        font-size: small;
    }

    .divider {
        width: 300px
    }
}

@media (max-width: 900px) {
    .banner .subheading {
        display: none;
    }

    .banner .btn {
        font-size: small;
    }

    .divider {
        width: 200px
    }
}

/* Index.html specific css */

.bg {
    width: 110%;
    height: 100%;
    background-image: url(../static/f1_car.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}  

#home_title {
    float: left;
    padding: 5px;
    display: block;
}

#author {
    float: right;
    padding: 5px;
    margin-top: 15px;
}

#homepage_banner {
    width: 92%;
}

#welcome_message {
    float: left;
    color: #dda74f;
    font-size: 24px;
    margin: 16px;
}

#signout_button {
    float: right;
    margin: 16px;
}

#tutorial_startover {
    width: 49%;
    float: left;
    margin: auto;
}

#tutorial_continue {
    width: 49%;
    float: right;
    margin: auto;
} 

#opening_message {
    position: absolute;
    padding: 16px;
    margin: 16px 32px 32px 32px;
    background: linear-gradient(to right, ivory, #ffae00, #a76b09); 
}

#opening_msg_heading {
    font-size: x-large;
}

/* login_or_register.html specific css */

#loginpage_banner {
    height: 60px;
}

#login_box {
    width: 80%;
    margin: 100px auto;
    background-color: rgb(253, 203, 76);
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #a76b09;
}

#login_submit_button, #login_signup_link {
    background-color: rgb(40, 40, 40);
}

#login_form {
    margin: 16px auto;
}




