* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Quicksand';
    background-image: linear-gradient(black, grey); 
}

/* Styles to create the iconic top banner */

.banner {
    position: relative;
    height: 80px;
    background-image: url(../static/black_marble.jpg);
    background-size: 30% auto;
    background-repeat: repeat;
}

.gold_bar {
    height: 10px;
    background-image: url(../static/brushed_gold.jpg);
    background-size: 100% auto;
    background-repeat: repeat;
}

.banner_content {
    height: inherit;
    display: flex;
    width: 100%;
    align-items: center;
}

.banner_left {
    margin: 16px;
    font-family: 'Quicksand', sans-serif;
    color: #dda74f;
}

.banner_right {
    position: absolute;
    right: 0;
    margin: 32px;
}

/* Jumbotron styling */

.black_jumbo.jumbotron {
    background-color: rgb(39, 39, 39);
    border-style: groove;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(253, 203, 76);
    color: #dda74f;
    margin: 12px;
    padding: 30px;
}

.gold_jumbo.jumbotron {
    background-color: rgb(253, 203, 76);
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: #a76b09;
}

/* Button styling: overriding bootstrap button styles */

.logout_button, .register_button {
    float: right;
}

.login_button, .homepage_button {
    float: left;
}

.btn.gold_button {
    background-color: #a76b09;
    border-color: #ffae00;
    color: black;
    margin: 12px;
}

.btn.black_button {
    color: #dda74f;
    background-color: rgb(31, 31, 31);
    margin: 12px;
}

.btn.gold_button:focus, .btn.black_button:focus,
.btn.gold_button:active, .btn.black_button:active {
    box-shadow: 0 0 0 0.1rem ivory;
    color: ivory;
}

.btn.gold_button:hover, .btn.black_button:hover {
    color: ivory;
}

.left_btn.btn.black_button {
    width: 49%;
    float: left;
    margin: auto;
}

.right_btn.btn.black_button {
    width: 49%;
    float: right;
    margin: auto;
} 

.gold_border.black_button {
    border-style: groove;
    border-width: 1px;
    border-color: rgb(253, 203, 76);
}

/* CSS for styling forms */

form .form_submit {
    font-size: 18px;
    border-radius: 10px;
    width:40%; 
}

form .input_field {
    background-color: rgb(50, 50, 50);
    color: ivory;
    width: 40%;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
    border-radius: 10px;
}

form .input_field:hover {
    box-shadow: 0 0 0 0.05rem ivory;
}

form .form_label {
    color: black;
    font-size: 18px;
    margin: 8px 32px;
}

.form_heading {
    color: black;
    font-size: 40px;
    display: inline-block;
    margin: 8px 48px;
}

/* Black divider */

.divider {
    width: 1000px;
    border-bottom: 1px solid black;
    margin: 20px;
}

/* Progress bar to show quiz totals */

.quiz_stats_bar.progress {
    width: 80%; 
    height: 38px; 
    margin: 32px auto;
    border-style: groove;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(253, 203, 76);
    font-family: 'Quicksand';
    font-size: 18px;
}

/* Controlling font-sizes depending on the page width */

@media (min-width: 1800px) {
    .banner .heading {
        font-size: xx-large;
    }
    #author {
        font-size: medium;
    }
    #welcome_message {
        font-size: 24px;
    }
}

@media (max-width: 1800px) {
    .banner .heading {
        font-size: x-large;
    }
    #author {
        font-size: medium;
    }
    #welcome_message {
        font-size: 18px;
    }
}

@media (max-width: 1500px) {
    .divider {
        width: 800px
    }
    form .input_field {
        width: 60%;
    }
}

@media (max-width: 1200px) {
    #author, .jumbotron_text {
        font-size: small;
    }
    #welcome_message {
        font-size: 16px;
    }
    .banner .btn {
        font-size: small;
        margin: 5px;
    }
    .divider {
        width: 500px;
    }
    form .input_field {
        width: 90%;
    }
}

@media (max-width: 950px) {
    .banner .heading {
        font-size: large;
    }
    #author {
        display: none;
    }
    .divider {
        width: 200px
    }
}

@media (max-width: 700px) {
    #welcome_message {
        display: none;
    }
}

/* Index.html specific css */

.bg {
    width: 110%;
    height: 100%;
    background-image: url(../static/car_sunset.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}  

#home_title {
    float: left;
    padding: 5px;
    display: block;
}

#author {
    float: right;
    padding: 5px;
    margin-top: 15px;
}

#homepage_banner {
    width: 92%;
}

#welcome_message {
    float: left;
    color: #dda74f;
    margin: 16px;
}

#opening_message {
    position: absolute;
    padding: 16px;
    margin: 16px 32px 32px 32px;
    background: linear-gradient(to right, ivory, #ffae00, #a76b09); 
}

#opening_msg_heading {
    font-size: x-large;
}

/* login_or_register.html specific css */

#login_box {
    width: 80%;
    margin: 100px auto;
    text-align: left;
}

#login_submit_button, #login_signup_link {
    background-color: rgb(40, 40, 40);
}

#login_form {
    margin: 16px 32px;
}

/* submissions.html specific css */

#submissions_container {
    margin-top: 32px;
}

#submissions_container .submission_btn, 
#submissions_container .del_submission_btn {
    margin: 8px auto;
}

.quiz_stat_label {
    font-size: 16px;
    color: ivory;
}

.quiz_stat {
    font-size: 16px;
    color: #dda74f;
}

.submission_box.black_jumbo.jumbotron:hover {
    background-color: rgb(42, 42, 42);
} 

#no_submissions_box {
    margin: 64px 32px;
}

#no_submissions_message {
    display: block;
    margin: 64px auto;
    width: 50%;
    text-align: center;
    color: ivory;
    font-size: 24px;
    border-style: groove;
    border-width: 1px;
    border-radius: 20px;
    border-color: rgb(253, 203, 76);
}

/* feedback.html specific css */

#feedback_box {
    color: rgb(253, 203, 76);
}

#congratz_box {
    width: 60%;
    margin: 64px auto;
    color: ivory;
    font-size: 28px;
    text-align: center;
}

#congratz {
    color: rgb(253, 203, 76);
    font-style: italic;
}

#given_section {
    font-size: 38px;
}

/* CSS for tutorial modules */

.tut_jumbo.black_jumbo {
    margin: 32px 16px;
}
.tut_text.black_jumbo {
    margin: 6px 6px 32px 6px;
    padding: 48px 32px;
}
.major_heading {
    color: Ivory;
    font-size: 30px;
}
.minor_heading {
    color: rgb(253, 203, 76);
    font-size: 20px;
    text-decoration: underline solid 1px;
}

/* quiz module css */

.quiz_jumbo.gold_jumbo {
    color: black;
    margin: 32px auto;
    width: 80%;
}

.quiz_jumbo.gold_jumbo label {
    font-size: 18px;
}

.quiz_qs_title {
    font-size: 20px;
}

.quiz_question {
    margin: 32px 16px;
    padding: 32px;
    border-radius: 20px;
    border: groove;
    border-color: #dda74f;
    border-width: 2px;
}

/* css for tutorial module questions */

.tut_jumbo.gold_jumbo label {
    font-size: 16px;
}

.tut_qs_title {
    font-size: 18px;
}

.tut_question {
    margin: 16px;
    padding: 24px;
    border-radius: 20px;
    border: groove;
    border-color: #dda74f;
    border-width: 2px;
}

.tut_jumbo.gold_jumbo {
    color: black;
    margin: 32px;
    padding: 16px;
    width: 80%;
}





