body, html {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}

.banner {
    height: 80px;
    background-image: url(../static/black_marble.jpg);
    background-size: 30% auto;
    background-repeat: repeat;
}

.bottom_bar {
    height: 10px;
    background-image: url(../static/brushed_gold.jpg);
    background-size: 100% auto;
    background-repeat: repeat;
}

.banner_content {
    padding: 16px;
    height: inherit;
    display: flex;
    align-items: center;
}

.banner_text {
    font-family: 'Quicksand', sans-serif;
    color: #dda74f;
}

@media (min-width: 1800px) {
    .heading {
        font-size: xx-large;
    }
    .subheading {
        font-size: medium;
    }
}

@media (max-width: 1800px) {
    .heading {
        font-size: large;
    }
    .subheading {
        font-size: small;
    }
}

@media (max-width: 1000px) {
    .heading {
        font-size: medium;
    }
    .subheading {
        font-size: x-small;
    }
}

@media (max-width: 600px) {
    .subheading {
        display: none;
    }
}

