<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Technicals: Chassis </title>

        <style>
            body {
                color: white;
            }
        </style>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

        <div class="banner">
            <div class="banner_content">
                <div class="banner_left">
                    <h1 class="heading"> Introduction </h1>
                </div>
                <div class="banner_right">
                    {% if current_user.is_authenticated %}
                    <a class="logout_button gold_button btn" href={{ url_for('logout') }} role="button"> 
                        Sign out
                    </a>
                    <a class="submissions_button gold_button btn" href={{ url_for('submissions') }} role="button"> 
                        Submissions
                    </a>
                    <a class="quiz_button gold_button btn" href={{ url_for('quiz', quiz_id=0) }} role="button"> 
                        Quiz
                    </a>
                    {% else %}
                    <a class="login_button gold_button btn" href={{ url_for('login') }} role="button"> 
                        Login
                    </a>
                    <a class="register_button gold_button btn" href={{ url_for('register') }} role="button"> 
                        Register
                    </a>
                    {% endif %}
                    <a class="homepage_button gold_button btn" href= {{ url_for('index') }} role="button"> 
                        Return to Homepage 
                    </a>
                </div>
            </div>
        </div>
        <div class="gold_bar"></div>

        <div class="tut_jumbo black_jumbo jumbotron">
            <div class="tut_text black_jumbo jumbotron">
                <h1 class="major_heading"> Technical Module: Chassis </h1>

                <p>Moving into the technical areas, one of the main areas of the vehicle itself is the Chassis. <br>
                    For those without prior vehicle/motorsport inclined knowledge, the Chassis department deals mainly with the body of the car, <br>
                    which we call the monocoque, and any structural frames associated with the body. The main work that is associated with the chassis <br>
                    department is the design of the body and its supporting frames on CAD (Computer Aided Design) software, sourcing materials <br>
                    from our partners / external businesses, conducting composite manufacturing work in order to convert the designs to reality, and <br>
                    finally extensive testing of each manufactured piece, in order to comply with the governing regulations and prove equivalency with known 
                    safety standards. </p><br>

                <h2 class="minor_heading">Design</h2>
                <p>The design phase typically involves the computer conceptualisation and detailing of the years intended monocoque concept, and the <br>
                    supporting structures needed for the safety of the driver, and the strength to combat all of the loads and forces to be experienced <br>
                    while the vehicle is in motion. The central chassis parts that need to be designed during this phase are as listed below:</p>
                    <ul>
                        <li>Monocoque</li>
                        <li>Impact Attenuator and Nosecone</li>
                        <li>Front and Main Hoop and support structures</li>
                        <li>Subframe</li>
                    </ul>
                <img class="tut_img" src="../static/chassis.jpg" width='500'>
                <h2 class="minor_heading">Manufacturing</h2>
                <p>The main materials and resources that the chassis team utilises to undergo successful production of the vehicle body:</p>
                <ul>
                    <li>Carbon Fibre Honeycomb (Monocoque + Impact Attenuator)</li>
                    <li>Epoxy (Monocoque + Nosecone + Impact Attenuator)</li>
                    <li>Carbon Fibre fabric (Monocoque + Nosecone)</li>
                    <li>Metal Sheet (Mild Steel + Aluminium)</li>
                    <li>Metal Tubing (Chromoly Steel)</li>
                </ul>
                <p>With all the materials and resources acquired, the manufacturing stages can begin. The main involvement from new members, <br>
                    in the chassis department, is directly with the manufacturing of the monocoque, which is the compartment housing the driver. <br>
                    This is the most labour intensive task, and there is no prior knowledge or experience needed to undertake these jobs. <br>
                    The usual process at which the monocoque is manufactured commences with the team receiving the aluminium honeycomb, and folding <br>
                    the flat panel into the monocoque shape. With the shape bolted into its joints, composite work may commence, where we line the edges <br>
                    with epoxy and layup with the carbon fibre fabric. We then harden the epoxy and carbon fibre, which results in stiff and strong bends; <br>
                    typical of what should be expected in an FSAE type monocoque. The steel and aluminium structures, are processed through notching and <br>
                    cutting of the tubes and metal sheets, formed to the shapes they need to be in through means of basic metal working processes; laser cutting, <br>
                    grinding, bending, sanding, and then welded together to create the structures needed. Finally, once these elements have been completed, <br>
                    they are all attached to the car through means of nuts and bolts! Note: Before the whole chassis is manufactured, the team undergoes <br>
                    manufacturing of various test pieces that we can test to prove structural and safety equivalency, see ‘Testing’ for more information.
                </p><br>
                
                <h2 class="minor_heading">Testing</h2>
                <p>In the typical chassis manufacturing process, there are additional sample pieces made, in order to test the structural <br>
                    equivalence of each component to a standard which complies to the safety regulations determined by the governing body. <br>
                    These tests are conducted on various hydraulic type force actuators, and then measuring the damage associated with the various <br>
                    loads and forces. Once these results are extracted, they can be cross-referenced to the safety regulations. Once properly analysed, <br>
                    they can be concluded to either comply with the safety standards, in which case we can continued with the entire manufacturing of the <br>
                    chassis, or fail, in which case we need to go back to the drawing board and hypothesise where we are lacking, and conduct different <br>
                    strategies we can use to increase the strength and durability of components so that they lie well within the safety standards.
                </p>
            </div>

            <div class="tut_jumbo gold_jumbo jumbotron"> 
                <form action="" method="post">
                    <div class="tut_question" id="chassis-Q1">
                        <p class="tut_qs_title"> Which of the following is NOT in the lifetime 
                        of the typical chassis protocol? <span class="is_correct_icon"></span>
                        </p>
                        <input type="radio" id="chassis-1-1" name="chassis-Q1" value="a">
                        <label for="chassis-1-1"> Design </label><br>
                        <input type="radio" id="chassis-1-2" name="chassis-Q1" value="b">
                        <label for="chassis-1-2"> Prototyping </label><br>
                        <input type="radio" id="chassis-1-3" name="chassis-Q1" value="c">
                        <label for="chassis-1-3"> Manufacture </label><br>
                        <input type="radio" id="chassis-1-4" name="chassis-Q1" value="d">
                        <label for="chassis-1-4"> Testing </label><br>
                    </div>

                    <div class="tut_question" id="chassis-Q2">
                        <p class="tut_qs_title"> Testing occurs BEFORE the final chassis 
                        manufacturing steps are undertaken: <span class="is_correct_icon"></span>
                        </p>
                        <input type="radio" id="chassis-2-1" name="chassis-Q2" value="a">
                        <label for="chassis-2-1"> TRUE </label><br>
                        <input type="radio" id="chassis-2-2" name="chassis-Q2" value="b">
                        <label for="chassis-2-2"> FALSE </label><br>
                    </div>
                </form>
            </div>
            <br>

            <a class="gold_border black_button btn btn-lg btn-block" href={{url_for('tutorial5')}} role="button"> 
                Continue to Vehicle Dynamics
            </a>
        </div>

        <script>
            var answers = {{ answers }};

            $('input[type=radio]').change(function() {
                let question = $(this).attr("name");
                let answer = $(this).attr("value");
                key = question.split('-')[1];
                isCorrect = answers[key] == answer;
                if (isCorrect) {
                    icon = "<i class='fa fa-check-circle' aria-hidden='true'></i>";
                }
                else {
                    icon = "<i class='fa fa-times-circle' aria-hidden='true'></i>";
                }
                $("#" + question + ' ' + '.is_correct_icon').html(icon);
            });
        </script>
    </body>
</html>