<!DOCTYPE html>
<html>
    <header>
        <title>
            Technical: Chassis
        </title>
    </header>

    <body>
        <h1>
            Technical Module: Chassis
        </h1>
        <p>Moving into the technical areas, one of the main areas of the vehicle itself is the Chassis. <br>
            For those without prior vehicle/motorsport inclined knowledge, the Chassis department deals mainly with the body of the car, <br>
            which we call the monocoque, and any structural frames associated with the body. The main work that is associated with the chassis <br>
            department is the design of the body and its supporting frames on CAD (Computer Aided Design) software, sourcing materials <br>
            from our partners / external businesses, conducting composite manufacturing work in order to convert the designs to reality, and <br>
            finally extensive testing of each manufactured piece, in order to comply with the governing regulations and prove equivalency with known safety standards. </p>

        <h2>Design</h2>
        <p>The design phase typically involves the computer conceptualisation and detailing of the years intended monocoque concept, and the <br>
            supporting structures needed for the safety of the driver, and the strength to combat all of the loads and forces to be experienced <br>
            while the vehicle is in motion. The central chassis parts that need to be designed during this phase are as listed below:</p>
            <ul>
                <li>Monocoque</li>
                <li>Impact Attenuator and Nosecone</li>
                <li>Front and Main Hoop and support structures</li>
                <li>Subframe</li>
            </ul>
        <img src="chassis.jpg" width='500'>
        <h2>Manufacturing</h2>
        <p>The main materials and resources that the chassis team utilises to undergo successful production of the vehicle body:</p>
        <ul>
            <li>Carbon Fibre Honeycomb (Monocoque + Impact Attenuator)</li>
            <li>Epoxy (Monocoque + Nosecone + Impact Attenuator)</li>
            <li>Carbon Fibre fabric (Monocoque + Nosecone)</li>
            <li>Metal Sheet (Mild Steel + Aluminium)</li>
            <li>Metal Tubing (Chromoly Steel)</li>
        </ul>
        <p>With all the materials and resources acquired, the manufacturing stages can begin. The main involvement from new members, <br>
            in the chassis department, is directly with the manufacturing of the monocoque, which is the compartment housing the driver. <br>
            This is the most labour intensive task, and there is no prior knowledge or experience needed to undertake these jobs. <br>
            The usual process at which the monocoque is manufactured commences with the team receiving the aluminium honeycomb, and folding <br>
            the flat panel into the monocoque shape. With the shape bolted into its joints, composite work may commence, where we line the edges <br>
            with epoxy and layup with the carbon fibre fabric. We then harden the epoxy and carbon fibre, which results in stiff and strong bends; <br>
            typical of what should be expected in an FSAE type monocoque. The steel and aluminium structures, are processed through notching and <br>
            cutting of the tubes and metal sheets, formed to the shapes they need to be in through means of basic metal working processes; laser cutting, <br>
            grinding, bending, sanding, and then welded together to create the structures needed. Finally, once these elements have been completed, <br>
            they are all attached to the car through means of nuts and bolts! Note: Before the whole chassis is manufactured, the team undergoes <br>
            manufacturing of various test pieces that we can test to prove structural and safety equivalency, see ‘Testing’ for more information.</p>

        <h2>Testing</h2>
        <p>In the typical chassis manufacturing process, there are additional sample pieces made, in order to test the structural <br>
            equivalence of each component to a standard which complies to the safety regulations determined by the governing body. <br>
            These tests are conducted on various hydraulic type force actuators, and then measuring the damage associated with the various <br>
            loads and forces. Once these results are extracted, they can be cross-referenced to the safety regulations. Once properly analysed, <br>
            they can be concluded to either comply with the safety standards, in which case we can continued with the entire manufacturing of the <br>
            chassis, or fail, in which case we need to go back to the drawing board and hypothesise where we are lacking, and conduct different <br>
            strategies we can use to increase the strength and durability of components so that they lie well within the safety standards.</p>
    </body>
</html>