<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Motorsports Quiz Feedback </title>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

        <div class="banner">
            <div class="banner_content">
                <div class="banner_left">
                    <h1 class="heading" id="homepage_title"> 
                        Quiz Feedback 
                    </h1>
                </div>
                <div class="banner_right">
                    <a class="logout_button gold_button btn" href={{ url_for('logout') }} role="button"> 
                        Sign out
                    </a>
                    <a class="submissions_button gold_button btn" href={{ url_for('submissions') }} role="button"> 
                        Submissions
                    </a>
                    <a class="homepage_button gold_button btn" id="homepage_button" href= {{ url_for('index') }} role="button">
                        Return to Homepage 
                   </a>
                   <a class="quiz_button gold_button btn" href={{ url_for('quiz', quiz_id=0) }} role="button"> 
                        Quiz
                    </a>
                </div>
            </div>
        </div>

        <div class="gold_bar"></div>

        <div>
            <div class="quiz_stats_bar progress">
                <div class="progress-bar" role="progressbar" style="width: {{section_proportions.Finance}}%"> Finance </div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{section_proportions.Marketing}}%"> Marketing </div>
                <div class="progress-bar bg-dark" role="progressbar" style="width: {{section_proportions.Chassis}}%"> Chassis </div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{section_proportions['Vehicle Dynamics']}}%"> Vehicle Dynamics </div>
                <div class="progress-bar bg-info" role="progressbar" style="width: {{section_proportions.Powertrain}}%"> Powertrain </div>
            </div>
        
            <div class="black_jumbo jumbotron" id="feedback_box">

                <div class="black_jumbo jumbotron" id="congratz_box">
                    <p> <span id="congratz"> Congratulations </span>, we believe you are suited for </p>
                    <p id="given_section"> {{section}} </p>
                </div>

                {% if section == "Finance" %}
                <p> Congratulations, through your answers, you have the closest matches with the Finance Department. 
                    As a new member of the finance team, it will be your responsibility to compute through the teams financial statements, 
                    extract income and expenditures, tabulate trends, and communicate them to the finance team, and the relevant area which 
                    the finances pertain to! </p><br>
                <p> To get started, please get in touch with the following person: <p>
                <p> Title: Business Manager</p>
                <p> Name: James Ismail </p>
                <p id="lead_contact_details"> Contact: 22876212@student.uwa.edu.au </p>
                {% endif %}
                {% if section == "Marketing" %}
                <p> Congratulations, through your answers, you have the closest matches with the Marekting Department. As a new member of the 
                    marketing team, it will be your responsibility to become and active member in taking photographic content of the team, contributing 
                    to the social media team pages, and working with the senior team members to maintain a healthy working relationship between the team 
                    and our sponsors! </p><br>
                <p> To get started, please get in touch with the following person: <p>
                <p> Title: Business Manager</p>
                <p> Name: James Ismail </p>
                <p id="lead_contact_details"> Contact: 22876212@student.uwa.edu.au </p>
                {% endif %}
                {% if section == "Chassis" %}
                <p> Congratulations, through your answers, you have the closest matches with the Chassis Department. As a new member of the chassis team, 
                    it will be your responsibility to actively assist in the manufacturing of the carbon fibre monocoque, and the assembly of the chassis supporting 
                    structures and tubular frames! </p><br>
                <p> To get started, please get in touch with the following person: <p>
                <p> Title: Chassis Lead</p>
                <p> Name: Julian Blair </p>
                <p id="lead_contact_details"> Contact: 22508461@student.uwa.edu.au </p>
                {% endif %}
                {% if section == "Vehicle Dynamics" %}
                <p> Congratulations, through your answers, you have the closest matches with the Vehicle Dynamics Department. As a new member of the vehicle 
                    dynamics team, it will be your responsibility to actively assist in the manufacturing of the suspension, steering and corner assemblies, and 
                    installing them all on the car. Additional responsibilities may include tuning the suspension parameters, and actively being involved in the 
                    testing of the vehicle and the above systems. </p><br>
                <p> To get started, please get in touch with the following person: <p>
                <p> Title: Vehicle Dynamics Lead</p>
                <p> Name: Mikayil Aliyev </p>
                <p id="lead_contact_details"> Contact: 22712583@student.uwa.edu.au </p>
                {% endif %}
                {% if section == "Powertrain" %}
                <p> Congratulations, through your answers, you have the closest matches with the Powertrain Department. As a new member of the powertrain team,
                    it will be your responsibility to assist in the assembly and manufacture of each powertrain component, as well as the testing if all those 
                    components. </p><br>
                <p> To get started, please get in touch with the following person: <p>
                <p> Title: Powertrain Lead </p>
                <p> Name: Joshua Perin </p>
                <p id="lead_contact_details"> Contact: 22495069@student.uwa.edu.au </p>
                {% endif %}
                
                <a class="gold_border submission_btn black_button btn btn-block" href="/quiz/{{ quiz_id }}"> 
                    View Submission 
                </a>
            </div>  
        </div>
    </body>
</html>

