<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Motorsports Quiz Feedback </title>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

        <div class="banner">
            <div class="banner_content">
                <div class="banner_left">
                    <h1 class="heading" id="homepage_title"> 
                        Quiz Feedback 
                    </h1>
                </div>
                <div class="banner_right">
                    <a class="logout_button gold_button btn" href={{ url_for('logout') }} role="button"> 
                        Sign out
                    </a>
                    <a class="submissions_button gold_button btn" href={{ url_for('submissions') }} role="button"> 
                        Submissions
                    </a>
                    <a class="homepage_button gold_button btn" id="homepage_button" href= {{ url_for('index') }} role="button">
                        Return to Homepage 
                   </a>
                </div>
            </div>
        </div>

        <div class="gold_bar"></div>

        <div>
            <div class="quiz_stats_bar progress">
                <div class="progress-bar" role="progressbar" style="width: {{section_proportions.Finance}}%"> Finance </div>
                <div class="progress-bar bg-success" role="progressbar" style="width: {{section_proportions.Marketing}}%"> Marketing </div>
                <div class="progress-bar bg-dark" role="progressbar" style="width: {{section_proportions.Chassis}}%"> Chassis </div>
                <div class="progress-bar bg-danger" role="progressbar" style="width: {{section_proportions['Vehicle Dynamics']}}%"> Vehicle Dynamics </div>
                <div class="progress-bar bg-info" role="progressbar" style="width: {{section_proportions.Powertrain}}%"> Powertrain </div>
            </div>
        
            <div class="black_jumbo jumbotron" id="feedback_box">
                <p style>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce malesuada quam pretium, scelerisque est 
                    sodales, malesuada felis. Nunc ullamcorper, risus non rutrum accumsan, augue mauris volutpat nibh, et 
                    pharetra eros lectus vel neque. Phasellus in purus eget elit tempus tempus non vitae magna. Etiam finibus 
                    vulputate fermentum. Suspendisse potenti. Duis lorem felis, dignissim et molestie ac, auctor id libero. 
                    Morbi quis risus nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
                    Morbi vel quam libero. Nulla facilisi. Fusce vel ipsum at mauris pharetra ultrices at quis ex. Donec sed imperdiet 
                    libero, ut sodales orci.
                </p>

                <div class="black_jumbo jumbotron" id="congratz_box">
                    <p> <span id="congratz"> Congratulations </span>, we believe you are suited for </p>
                    <p id="given_section"> {{section}} </p>
                </div>

                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Pellentesque ullamcorper magna vitae risus imperdiet lobortis. Phasellus ullamcorper nisi sed ultrices malesuada. 
                    Nullam porta augue vel purus ultrices, eu iaculis est tempor. Proin quis odio vitae nisl condimentum pulvinar nec 
                    quis ligula. Nulla nec lobortis tortor. Donec pretium eleifend eros. Quisque ornare turpis a mauris elementum, ut 
                    pretium nunc egestas. Donec auctor vulputate ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices 
                    posuere cubilia curae; Nulla auctor, libero eu imperdiet mollis, metus magna interdum libero, ac scelerisque ipsum metus 
                    non turpis. Sed nec ex tellus. Fusce in malesuada ex. Suspendisse accumsan tortor at felis ultrices pulvinar. Nulla arcu orci, 
                    sollicitudin sed commodo id, gravida id neque. Donec tincidunt nisl nibh, id iaculis dui viverra ac. In a hendrerit risus, in 
                    ullamcorper ex.
                    <br>
                    Vivamus egestas, dolor et sollicitudin aliquet, lorem velit condimentum odio, id mollis ante libero eget lacus. Morbi tincidunt 
                    massa dolor, vitae scelerisque tellus porttitor id. Duis facilisis mattis magna, non euismod neque finibus vitae. Nullam ut dignissim quam. 
                    Integer eros lorem, scelerisque eu dolor quis, aliquet tristique urna. Duis euismod dolor sed nunc aliquam, et feugiat leo gravida. Nulla quis 
                    ex metus. Nulla pharetra dictum tellus fermentum gravida. Ut aliquam ipsum eu lorem porta, mollis bibendum eros vestibulum. Mauris in ultricies 
                    mauris, vitae laoreet arcu. Duis hendrerit enim eget fringilla tincidunt. Duis a elit faucibus, aliquet leo a, eleifend mauris. Praesent commodo 
                    ex sit amet vehicula auctor. Nullam tellus nisi, accumsan a tellus ac, porttitor ultricies sem. 
                </p>
                
                <button class="gold_border submission_btn black_button btn btn-block"> 
                    View Submission 
                </button>
            </div>  
        </div>
    </body>

