<!DOCTYPE html>
<html>
    <head>
        <title>Business: Finance</title>
    </head>

    <body>
        <h1>Business Module: Finance</h1>
        <h2>Why do we need a finance team?</h2>
        <p>With all projects that involve the income, and expenditure of monetary resources, there is a requirement for a department to manage the flow of the resource.<br>
            This is to ensure that there is a steady rate of consumption of resources, and that all project operations can be undertaken without the concern of running out. <br>
            The consequences of running out of vital resources such as monetary funds, could mean that the project cannot be completed to the required standards, or in the worst-case scenario, could mean that the project cannot be completed at all!</p>
        <img src="general.jpg" width='500'>
        <h2>Team Finances</h2>
        <p>For the context of the UWA Motorsport team, we are working to complete our car with a limited budget of $50,000, with approximately 3 people manning the finance sector. <br>
            This would ideally cover the costs for the entire design, manufacture, and testing of our race cars. However, in order to ensure that our spending is not over-compulsive, <br>
            we must construct a team capable of formatting budgets, and advising the rest of the team whether certain investments, or consumables are feasible to purchase, or whether <br>
            they pose a threat to our main goal of outputting a race car each year! </p>

        <p>Through being an active member in the finance team, you can expect to quickly develop key organisational skills such as goal setting and tracking and management skills such as effective communication and management of resources.</p>
    </body>
</html>