<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Vehicle Dynamics Tutorial </title>
    </head>
    
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <div class="bg" id="black-f1">
            <div class="banner" id="homepage_banner">
                <div class="banner_content">
                    <div class="banner_left">
                        <h1 class="heading" id="homepage_title"> 
                            UWA Motorsports Department Quiz
                            <span class="subheading" id="author"> by Allen Antony and Mikayil Aliyev </span>
                        </h1>
                    </div>
                    <div class="banner_right">
                        {% if current_user.is_authenticated %}
                        <a class="logout_button gold_button btn" href={{ url_for('logout') }} role="button"> 
                            Sign out
                        </a>
                        <a class="submissions_button gold_button btn" href={{ url_for('submissions') }} role="button"> 
                            Submissions
                        </a>
                        <span class="subheading" id="welcome_message"> Welcome back, {{ current_user.preferred_name }}! </span>
                        {% else %}
                        <a class="login_button gold_button btn" href={{ url_for('login') }} role="button"> 
                            Login
                        </a>
                        <a class="register_button gold_button btn" href={{ url_for('register') }} role="button"> 
                            Register
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="gold_bar"></div>

            <div class="jumbotron" id="opening_message">
                <h1 id="opening_msg_heading"> Welcome to our tutorial </h1>
                <p class="jumbotron_text"> 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Donec lacinia scelerisque odio, eu sodales enim blandit ac. 
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Class aptent taciti sociosqu ad litora torquent per conubia 
                    nostra, per inceptos himenaeos. Aenean non mi vel risus dictum porta.
                </p>
                {% if current_user.is_authenticated %}
                <a class="left_btn black_button btn btn-block" href="#" role="button"> 
                    Resume your progress
                </a>
                <a class="right_btn black_button btn btn-block" href="#" role="button"> 
                    Start a new lesson
                </a>
                {% else %}
                <a class="black_button btn btn-lg btn-block" href="#" role="button"> 
                    Start the tutorial!
                </a>
                {% endif %}
            </div>
        </div>

        <script>
            var isAtMaxWidth = screen.availWidth - window.innerWidth === 0;

            function parallax(event){
                let xPos = event.pageX * -1 / 50;
                $('.bg').css('background-position-x', xPos + 'px');
            }

            if (isAtMaxWidth) {
                $('body').mousemove(parallax);
            }
            
            $(window).resize(function(){
                isAtMaxWidth = screen.availWidth - window.innerWidth === 0;
                if (isAtMaxWidth) {
                    $('body').mousemove(parallax);
                }
                else {
                    $('body').off('mousemove');
                    $('.bg').css('background-position-x', 'center');
                }
            });
        </script>   
    </body>
</html>