<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Tutorial Login </title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <div class="banner" id="loginpage_banner">
            <div class="banner_content">
                <div class="banner_right">
                    <a class="gold_button btn" id="homepage_button" href= {{ url_for('index') }} role="button"> Return to Homepage </a>
                </div>
            </div>
        </div>
        <div class="gold_bar"></div>

        <div class="jumbotron" id="login_box">
            <div class="form_heading"> 
            {{ type }}
            </div>
            <div class="divider"></div>
            <form action="" method="post" id="#login_form">
                
                {{ form.hidden_tag() }}

                {{ form.username.label(class_="form_label") }} <br>
                {{ form.username(size=32, class_="input_field") }} <br><br>

                {% if type == "Register" %}
                {{ form.email.label(class_="form_label") }} <br>
                {{ form.email(size=32, class_="input_field") }} <br><br>

                {{ form.preferred_name.label(class_="form_label") }} <br>
                {{ form.preferred_name(size=32, class_="input_field") }} <br><br>
                {% endif %}

                {{ form.password.label(class_="form_label") }} <br>
                {{ form.password(size=32, class_="input_field") }} <br><br>

                {{ form.submit(class_="form_submit black_button btn", id="login_submit_button") }}

            </form>
            <br>
            <div class="divider"></div>
            {% if type == "Register" %}
            <a class="black_button btn" id="login_signup_link" href= {{ url_for('login') }} role="button"> Or click this link to login</a>
            {% else %}
            <a class="black_button btn" id="login_signup_link" href= {{ url_for('register') }} role="button"> Or click this link to register</a>
            {% endif %}
        </div>
    </body>
