<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Tutorial {{ type }} </title>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.min.js"></script>

        <div class="banner" id="loginpage_banner">
            <div class="banner_content">
                <div class="banner_right">
                    <a class="homepage_button gold_button btn" id="homepage_button" href= {{ url_for('index') }} role="button">
                         Return to Homepage 
                    </a>
                </div>
            </div>
        </div>
        <div class="gold_bar"></div>

        <div class="jumbotron" id="login_box">
            <div class="form_heading"> 
            {{ type }}
            </div>
            <div class="divider"></div>
            <form action="" method="post" id="login_form">  
                {{ form.hidden_tag() }}

                {{ form.username.label(class_="form_label") }} <br>
                {{ form.username(size=32, class_="input_field") }} <br id="username_br">

                {% if type == "Register" %}
                {{ form.email.label(class_="form_label") }} <br>
                {{ form.email(size=32, class_="input_field") }} <br id="email_br">

                {{ form.preferred_name.label(class_="form_label") }} <br>
                {{ form.preferred_name(size=32, class_="input_field") }} <br>
                {% endif %}

                {{ form.password.label(class_="form_label") }} <br>
                {{ form.password(size=32, class_="input_field") }} <br>

                {% if type == "Register" %}
                {{ form.confirm_password.label(class_="form_label") }} <br>
                {{ form.confirm_password(size=32, class_="input_field") }} <br>
                {% endif %}

                {{form.remember_me.label(class_="form_label")}}
                {{form.remember_me}} <br><br>

                {{ form.submit(class_="form_submit black_button btn", id="login_submit_button") }}
            </form>
            <br>
            <div class="divider"></div>
            {% if type == "Register" %}
            <a class="black_button btn" id="login_signup_link" href= {{ url_for('login') }} role="button"> Or click this link to login</a>
            {% else %}
            <a class="black_button btn" id="login_signup_link" href= {{ url_for('register') }} role="button"> Or click this link to register</a>
            {% endif %}
        </div>

        <script>
            let password_val = $('input[name=password').text()
            $().ready(function() {
                $('#login_form').validate({
                    rules: {
                        username: {
                            required: true,
                            minlength: 2,
                            alphanumeric: true
                        },
                        password: {
                            required: true,
                            minlength: 5,
                        },
                        email: {
                            required: false,
                            email: true
                        },
                        preferred_name: {
                            required: false,
                        },
                        confirm_password: {
                            required: true,
                            equalTo: "#password"
                        }
                    }
                });
            });

            function validateUsername() {
                $.post('/validate_registration', {'username': $('#username').val()}).done(function(response) {
                    if (!response['available']) {
                        let error = '<p id="username_exists_error"> This username is already taken. Please choose another </p>'
                        $('#username_br').replaceWith(error)
                    }
                    else {
                        $('#username_exists_error').replaceWith('<br id="username_br">')
                    }
                }).fail(function() {
                    return;
                });
            }

            function validateEmail() {
                $.post('/validate_registration', {'email': $('#email').val()}).done(function(response) {
                    if (!response['available']) {
                        let error = '<p id="email_exists_error"> This email already has a registered account </p>'
                        $('#email_br').replaceWith(error)
                    }
                    else {
                        $('#email_exists_error').replaceWith('<br id="email_br">')
                    }
                }).fail(function() {
                    return;
                });
            }
            if ($('.form_heading').html == "Register") {
                $('#username').blur(validateUsername);
                $('#email').blur(validateEmail);
            }
        </script>
    </body>
