<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Business: Marketing </title>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

        <div class="banner">
            <div class="banner_content">
                <div class="banner_left">
                    <h1 class="heading"> Introduction </h1>
                </div>
                <div class="banner_right">
                    {% if current_user.is_authenticated %}
                    <a class="logout_button gold_button btn" href={{ url_for('logout') }} role="button"> 
                        Sign out
                    </a>
                    <a class="submissions_button gold_button btn" href={{ url_for('submissions') }} role="button"> 
                        Submissions
                    </a>
                    {% else %}
                    <a class="login_button gold_button btn" href={{ url_for('login') }} role="button"> 
                        Login
                    </a>
                    <a class="register_button gold_button btn" href={{ url_for('register') }} role="button"> 
                        Register
                    </a>
                    {% endif %}
                    <a class="homepage_button gold_button btn" href= {{ url_for('index') }} role="button"> 
                        Return to Homepage 
                    </a>
                </div>
            </div>
        </div>
        <div class="gold_bar"></div>
        
        <div class="tut_jumbo black_jumbo jumbotron">
            <div class="tut_text black_jumbo jumbotron">
                <h1 class="major_heading">Business Module: Marketing</h1>
                
                <h2 class="minor_heading">Key Responsibilities</h2>
                <p>Complimenting the finance team in the Business sector, the Marketing team also serves a vital purpose in the team's operation ventures. 
                    The responsibility of the marketing team is to ensure that the teams brand is positively represented, and in turn is used to generate the income of our resources. 
                    Resources that are generated by the marketing team include the teams funding, through the support of our various sponsors, and the University itself, 
                    as well as the income of new members; to join the team and work to become active individuals to help in the production of our race cars.
                </p>

                <p>In addition, it is also the marketing teams key responsibility to uphold our branding on our social media platforms, by being active members in taking pictures
                    and videos of the team, sponsor engagement, and other events, and distributing the content through our social media platforms. 
                </p>

                <p>It is especially vital to uphold our image on social media, as that can be an active cause for the success or detriment in the team. 
                    This can directly lead to the healthiness of sponsor engagement, as well as team advertising for new recruits. Both of which carry 
                    heavy weight on the teams future and current performances!
                </p>

                <p>Finally, it is the marketing teams responsibility to devise a sponsorship prospectus which we will offer all of our prospective sponsors. 
                    This document outlines our history, who we are, the competition premise, our ventures, and operations, as well as a return on investment package,
                    which maps out our obligations for sponsors, in correspondence to their contributions towards the teams resources! Our sample ROI plan from the 2021 competition year can be seen below:</p>

                <img class="tut_img" src="../static/Prospectus.png" width='500'>

                <p>Recruits wishing to join the marketing team can expect to develop their interpersonal skills; in how they engage, interact, and communicate with external businesses, <br>
                    and prospective team members in order to obtain success in generating the teams usable resources to satisfactorily run our operations!
                </p>
            </div>

            <div class="tut_jumbo gold_jumbo jumbotron"> 
                <form action="" method="post">
                    <div class="tut_question" id="marketing-Q1">
                        <p class="tut_qs_title"> What are the main resources that the marketing
                         team is responsible for generating? <span class="is_correct_icon"></span>
                         </p>
                        <input type="radio" id="marketing-1-1" name="marketing-Q1" value="a">
                        <label for="marketing-1-1"> Funding from the University </label><br>
                        <input type="radio" id="marketing-1-2" name="marketing-Q1" value="b">
                        <label for="marketing-1-2"> Funding from sponsors </label><br>
                        <input type="radio" id="marketing-1-3" name="marketing-Q1" value="c">
                        <label for="marketing-1-3"> New members </label><br>
                        <input type="radio" id="marketing-1-4" name="marketing-Q1" value="d">
                        <label for="marketing-1-4"> All the above </label><br>
                    </div>

                    <div class="tut_question" id="marketing-Q2">
                        <p class="tut_qs_title"> Which one of the following is NOT a sponsorship 
                        package that we currently offer? <span class="is_correct_icon"></span>
                        </p>
                        <input type="radio" id="marketing-2-1" name="marketing-Q2" value="a">
                        <label for="marketing-2-1"> Platinum </label><br>
                        <input type="radio" id="marketing-2-2" name="marketing-Q2" value="b">
                        <label for="marketing-2-2"> Patron </label><br>
                        <input type="radio" id="marketing-2-3" name="marketing-Q2" value="c">
                        <label for="marketing-2-3"> Gold </label><br>
                        <input type="radio" id="marketing-2-4" name="marketing-Q2" value="d">
                        <label for="marketing-2-4"> Silver </label><br>
                    </div>
                </form>
            </div>
            <br>

            <a class="gold_border black_button btn btn-lg btn-block" href={{url_for('tutorial4')}} role="button"> 
                Continue to Chassis
            </a>
        </div>

        <script>
            var answers = {{ answers }};

            $('input[type=radio]').change(function() {
                let question = $(this).attr("name");
                let answer = $(this).attr("value");
                key = question.split('-')[1];
                isCorrect = answers[key] == answer;
                if (isCorrect) {
                    icon = "<i class='fa fa-check-circle' aria-hidden='true'></i>";
                }
                else {
                    icon = "<i class='fa fa-times-circle' aria-hidden='true'></i>";
                }
                $("#" + question + ' ' + '.is_correct_icon').html(icon);
            });
        </script>
    </body>
</html>