<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap" rel="stylesheet">
        <title> Motorsports Quiz Feedback </title>
        <style>
            #quiz_container {
                color: Ivory;
            }
        </style>
    </head>

    <body>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

        <div class="banner">
            <div class="banner_content">
                <div class="banner_left">
                    <h1 class="heading" id="homepage_title"> 
                        Quiz 
                    </h1>
                </div>
                <div class="banner_right">
                    <a class="logout_button gold_button btn" href={{ url_for('logout') }} role="button"> 
                        Sign out
                    </a>
                    <a class="submissions_button gold_button btn" href={{ url_for('submissions') }} role="button"> 
                        Submissions
                    </a>
                    <a class="homepage_button gold_button btn" id="homepage_button" href= {{ url_for('index') }} role="button">
                        Return to Homepage 
                   </a>
                </div>
            </div>
        </div>

        <div class="gold_bar"></div>

        <div id="quiz_container"> 
            <form action="" method="post" >
                <div class="quiz_question">
                    <p> What is the responsibility of the Marketing team? </p>
                    <input type="radio" id="Marketing-1-1" name="Marketing-1" value="a">
                    <label for="Marketing-1-1"> Manage the teams brand </label><br>
                    <input type="radio" id="Marketing-1-2" name="Marketing-1" value="b">
                    <label for="Marketing-1-2"> Manage the funds and resources </label><br>
                    <input type="radio" id="Marketing-1-3" name="Marketing-1" value="c">
                    <label for="Marketing-1-3"> Induct new members to the team </label><br>
                    <input type="radio" id="Marketing-1-4" name="Marketing-1" value="d">
                    <label for="Marketing-1-4"> Manage the engineering operations </label><br>
                </div>

                <div class="quiz_question">
                    <p> What is the finance departments primary job? </p>
                    <input type="radio" id="Finance-1-1" name="Finance-1" value="a">
                    <label for="Finance-1-1"> To hoard resources </label><br>
                    <input type="radio" id="Finance-1-2" name="Finance-1" value="b">
                    <label for="Finance-1-2"> To drive the car </label><br>
                    <input type="radio" id="Finance-1-3" name="Finance-1" value="c">
                    <label for="Finance-1-3"> To manage the flow of resources </label><br>
                    <input type="radio" id="Finance-1-4" name="Finance-1" value="d">
                    <label for="Finance-1-4"> To advise the design of the car </label><br>
                </div>

                <div class="quiz_question">
                    <p> Which of the following elements are related to the powertrain? 
                    (tick all that apply) </p>
                    <input type="checkbox" id="Powertrain-1-1" name="Powertrain-1-1" value="a">
                    <label for="Powertrain-1-1"> Accumulator </label><br>
                    <input type="checkbox" id="Powertrain-1-2" name="Powertrain-1-2" value="b">
                    <label for="Powertrain-1-2"> Tyres </label><br>
                    <input type="checkbox" id="Powertrain-1-3" name="Powertrain-1-3" value="c">
                    <label for="Powertrain-1-3"> Inverter </label><br>
                    <input type="checkbox" id="Powertrain-1-4" name="Powertrain-1-4" value="d">
                    <label for="Powertrain-1-4"> Monocoque </label><br>
                </div>

                <div class="quiz_question">
                    <p> What document do we provide potential sponsors for a potential partnership? </p>
                    <input type="radio" id="Marketing-2-1" name="Marketing-2" value="a">
                    <label for="Marketing-2-1"> Sponsorship Partnership Outline </label><br>
                    <input type="radio" id="Marketing-2-2" name="Marketing-2" value="b">
                    <label for="Marketing-2-2"> Sponsorship Agreement </label><br>
                    <input type="radio" id="Marketing-2-3" name="Marketing-2" value="c">
                    <label for="Marketing-2-3"> Business Prospectus </label><br>
                    <input type="radio" id="Marketing-2-4" name="Marketing-2" value="d">
                    <label for="Marketing-2-4"> Sponsorship Prospectus </label><br>
                </div>

                <div class="quiz_question">
                    <p> What is the purpose of testing vehicle dynamics components? </p>
                    <input type="radio" id="Vehicle Dynamics-1-1" name="Vehicle Dynamics-1" value="a">
                    <label for="Vehicle Dynamics-1-1"> To fine tune the vehicle dynamics parameters to output 
                    the fastest configuration </label><br>
                    <input type="radio" id="Vehicle Dynamics-1-2" name="Vehicle Dynamics-1" value="b">
                    <label for="Vehicle Dynamics-1-2"> To validate / disprove our design concepts, 
                    and models </label><br>
                    <input type="radio" id="Vehicle Dynamics-1-3" name="Vehicle Dynamics-1" value="c">
                    <label for="Vehicle Dynamics-1-3"> To train the drivers to feel comfortable and push the 
                    cars to their limits </label><br>
                    <input type="radio" id="Vehicle Dynamics-1-4" name="Vehicle Dynamics-1" value="d">
                    <label for="Vehicle Dynamics-1-4"> All the above </label><br>
                </div>

                <div class="quiz_question">
                    <p> What is the purpose of testing chassis components? </p>
                    <input type="radio" id="Chassis-3-1" name="Chassis-3" value="a">
                    <label for="Chassis-3-1"> To ensure safety standards have been met 
                    by the competition </label><br>
                    <input type="radio" id="Chassis-3-2" name="Chassis-3" value="b">
                    <label for="Chassis-3-2"> To give members of the team something to 
                    do if they finish early </label><br>
                    <input type="radio" id="Chassis-3-3" name="Chassis-3" value="c">
                    <label for="Chassis-3-3"> To dispose of extra materials that were left 
                    after the completion of the chassis </label><br>
                    <input type="radio" id="Chassis-3-4" name="Chassis-3" value="d">
                    <label for="Chassis-3-4"> To ensure safety standards have been met 
                    by the University safety team </label><br>
                </div>

                <div class="quiz_question">
                    <p> What machining process is used in manufacturing of the gearbox? </p>
                    <input type="radio" id="Powertrain-2-1" name="Powertrain-2" value="a">
                    <label for="Powertrain-2-1"> CNC (Computer Numeric Control) </label><br>
                    <input type="radio" id="Powertrain-2-2" name="Powertrain-2" value="b">
                    <label for="Powertrain-2-2"> CNC (Control Numeric Computation) </label><br>
                    <input type="radio" id="Powertrain-2-3" name="Powertrain-2" value="c">
                    <label for="Powertrain-2-3"> CNC (Cutting Nesting Cleaning) </label><br>
                    <input type="radio" id="Powertrain-2-4" name="Powertrain-2" value="d">
                    <label for="Powertrain-2-4"> None of the above </label><br>
                </div>

                <div class="quiz_question">
                    <p> What main platform does the marketing team use in order to fulfil 
                    their responsibilities? </p>
                    <input type="radio" id="Marketing-3-1" name="Marketing-3" value="a">
                    <label for="Marketing-3-1"> Tutorial and Lecture Advertising </label><br>
                    <input type="radio" id="Marketing-3-2" name="Marketing-3" value="b">
                    <label for="Marketing-3-2"> Billboards and Posters </label><br>
                    <input type="radio" id="Marketing-3-3" name="Marketing-3" value="c">
                    <label for="Marketing-3-3"> TV Advertisements </label><br>
                    <input type="radio" id="Marketing-3-4" name="Marketing-3" value="d">
                    <label for="Marketing-3-4"> Social Media </label><br>
                </div>

                <div class="quiz_question">
                    <p> What is the monocoque typically made of? </p>
                    <input type="radio" id="Chassis-1-1" name="Chassis-1" value="a">
                    <label for="Chassis-1-1"> Aluminium skinned honeycomb </label><br>
                    <input type="radio" id="Chassis-1-2" name="Chassis-1" value="b">
                    <label for="Chassis-1-2"> Carbon Fibre skinned honeycomb </label><br>
                    <input type="radio" id="Chassis-1-3" name="Chassis-1" value="c">
                    <label for="Chassis-1-3"> Steel Tubing </label><br>
                    <input type="radio" id="Chassis-1-4" name="Chassis-1" value="d">
                    <label for="Chassis-1-4"> Balsa Wood </label><br>
                </div>

                <div class="quiz_question">
                    <p> What are the main components that are encompassed in Vehicle Dynamics
                     (tick all that apply)? </p>
                    <input type="checkbox" id="Vehicle Dynamics-2-1" name="Vehicle Dynamics-2-1" value="a">
                    <label for="Vehicle Dynamics-2-1"> Suspension </label><br>
                    <input type="checkbox" id="Vehicle Dynamics-2-2" name="Vehicle Dynamics-2-2" value="b">
                    <label for="Vehicle Dynamics-2-2"> Steering </label><br>
                    <input type="checkbox" id="Vehicle Dynamics-2-3" name="Vehicle Dynamics-2-3" value="c">
                    <label for="Vehicle Dynamics-2-3"> Brakes </label><br>
                    <input type="checkbox" id="Vehicle Dynamics-2-4" name="Vehicle Dynamics-2-4" value="d">
                    <label for="Vehicle Dynamics-2-4"> Wheel and Tyres </label><br>
                </div>

                <div class="quiz_question">
                    <p> What are the consequences of running out of monetary resources? </p>
                    <input type="radio" id="Finance-2-1" name="Finance-2" value="a">
                    <label for="Finance-2-1"> We won’t be able to pay our team members </label><br>
                    <input type="radio" id="Finance-2-2" name="Finance-2" value="b">
                    <label for="Finance-2-2"> We won’t be able to extract enough funds 
                    for the satisfactory completion of our car and competition </label><br>
                    <input type="radio" id="Finance-2-3" name="Finance-2" value="c">
                    <label for="Finance-2-3"> The university won’t have a steady stream 
                    of income from our racing team </label><br>
                    <input type="radio" id="Finance-2-4" name="Finance-2" value="d">
                    <label for="Finance-2-4"> All the above </label><br>
                </div>

                <div class="quiz_question">
                    <p> Which of the following components are not outsourced? (tick all that apply) </p>
                    <input type="checkbox" id="Vehicle Dynamics-3-1" name="Vehicle Dynamics-3-1" value="a">
                    <label for="Vehicle Dynamics-3-1"> Wheels </label><br>
                    <input type="checkbox" id="Vehicle Dynamics-3-2" name="Vehicle Dynamics-3-2" value="b">
                    <label for="Vehicle Dynamics-3-2"> Tyres </label><br>
                    <input type="checkbox" id="Vehicle Dynamics-3-3" name="Vehicle Dynamics-3-3" value="c">
                    <label for="Vehicle Dynamics-3-3"> Shock Absorbers </label><br>
                    <input type="checkbox" id="Vehicle Dynamics-3-4" name="Vehicle Dynamics-3-4" value="d">
                    <label for="Vehicle Dynamics-3-4"> Uprights </label><br>
                </div>

                <div class="quiz_question">
                    <p> What is the typical expected budget for a race car developed 
                    at UWA Motorsports? </p>
                    <input type="radio" id="Finance-3-1" name="Finance-3" value="a">
                    <label for="Finance-3-1"> 30,000 </label><br>
                    <input type="radio" id="Finance-3-2" name="Finance-3" value="b">
                    <label for="Finance-3-2"> 40,000 </label><br>
                    <input type="radio" id="Finance-3-3" name="Finance-3" value="c">
                    <label for="Finance-3-3"> 50,000 </label><br>
                    <input type="radio" id="Finance-3-4" name="Finance-3" value="d">
                    <label for="Finance-3-4"> 60,000 </label><br>
                </div>

                <div class="quiz_question">
                    <p> What aspect of the powertrain is tuned during testing? </p>
                    <input type="radio" id="Powertrain-3-1" name="Powertrain-3" value="a">
                    <label for="Powertrain-3-1"> Motor </label><br>
                    <input type="radio" id="Powertrain-3-2" name="Powertrain-3" value="b">
                    <label for="Powertrain-3-2"> Gearbox </label><br>
                    <input type="radio" id="Powertrain-3-3" name="Powertrain-3" value="c">
                    <label for="Powertrain-3-3"> Accumulator </label><br>
                    <input type="radio" id="Powertrain-3-4" name="Powertrain-3" value="d">
                    <label for="Powertrain-3-4"> Differential </label><br>
                </div>

                <div class="quiz_question">
                    <p> What is the name given to the segment of the chassis in which the 
                    driver sits in? </p>
                    <input type="radio" id="Chassis-2-1" name="Chassis-2" value="a">
                    <label for="Chassis-2-1"> Monocoque </label><br>
                    <input type="radio" id="Chassis-2-2" name="Chassis-2" value="b">
                    <label for="Chassis-2-2"> Cockpit </label><br>
                    <input type="radio" id="Chassis-2-3" name="Chassis-2" value="c">
                    <label for="Chassis-2-3"> Subframe </label><br>
                    <input type="radio" id="Chassis-2-4" name="Chassis-2" value="d">
                    <label for="Chassis-2-4"> Impact Attenuator </label><br>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>