<!DOCTYPE html>

<html>
    <head>
        <title>Welcome!</title>
    </head>

    <body>
        <p>Hello! And welcome to the <b>UWA Motorsport Team!</b><br>
            We cannot wait to start seeing more of you in the lab, and most importantly, getting you equipped to fit yourselves into the team, and getting stuck into the production of our race cars!<br>
            This will be a mini-introductory module into who we are, what we do, and how YOU can get involved!</p>
        <h1>Who are we?</h1>
        <p>UWA Motorsport Team is a group of like-minded, driven individuals who are chasing the learning experience of conceptualising, designing, manufacturing, testing, and racing cars.<br>
            These cars are designed to compete in various competitions around the world (labelled <b>Formula SAE</b> and <b>Formula Student</b>), operating under the governing bodies of <b>SAE</b> (Society of Automotive Engineers), and the <b>Institute of Mechanical Engineers</b><br>
            The team had been formed in 2000, with the team attending their first Formula SAE competition in 2001 and have been continuing to do so since then! </p>
        <img src="2019 UWAM TEAM.jpg" width='500'>
        <h1>Notable Achievements</h1>
        <h2>Formula SAE - Australiasia</h2>
        <ul>
            <li>2 x 1<sup>st</sup> Place: Overall</li>
            <li>4 x 1<sup>st</sup> Place: Engineering Design</li>
            <li>30 x 1<sup>st</sup> Place: Dynamic Events</li>
        </ul>

        <h2>Formula SAE – Michigan</h2>
        <ul>
            <li>1 x 1<sup>st</sup> Place: Overall (World Champions)</li>
            <li>2 x 2<sup>nd</sup> Place: Overall</li>
            <li>2 x 1<sup>st</sup> Place: Engineering Design</li>
        </ul>

        <h2>Formula Student – Germany</h2>
        <ul>
            <li>1 x 3<sup>rd</sup> Place: Overall</li>
        </ul>

        <h2>Other Achievements</h2>
        <ul>
            <li>>30 International Prizes</li>
            <li>7 Awards for Design Innovation</li>
            <li>Technology Concept commercialised in professional industry</li>
            <li>PHD research involving concepts from our cars</li>
        </ul>

        <h1>What we do</h1>
        <p>The team had been involved in developing Internal Combustion Vehicles (IC) (2001-2013), and just recently have switched our efforts in the production of Electric Vehicles (EV) (2014-). <br>
            The team is split into various departments and offer a various range of working opportunities for students of all disciplines! Our main overarching departments include:</p>
            <ul>
                <li>Business</li>
                <li>Technical</li>
            </ul>
        <p>Within these departments, there are further break down of areas:</p>
        <ul>
            <li>Business
                <ul>
                    <li>Finance</li>
                    <li>Outreach</li>
                    <li>Safety</li>
                    <li>Marketing</li>
                </ul>  
            </li>
            <li>Technical
                <ul>
                    <li>Aerodynamics + Cooling</li>
                    <li>Chassis</li>
                    <li>Electrical</li>
                    <li>Vehicle Dynamics</li>
                    <li>Powertrain</li>
                </ul>
            </li>
        </ul>
        <p>Each area has a designated lead, as well as up to 5 members to undertake tasks that are associated with each area.</p>
        <h1>Next steps for YOU!</h1>
            <p>Now that we have had an introductory to the team and a little bit about our background, we will now walk you through all our areas, <br>
                and will have quizzes associated with each area module. These quizzes will aim to demonstrate which area of the team you may fit best <br>
                into and will walk you through steps in which you can progress in becoming an active team member in each of your areas!</p>
    </body>
</html>